const firebaseConfig = {
  apiKey: "AIzaSyB4ZbIcIv8K_KzzlwUArsPi52cm-hNLxLI",
  authDomain: "upmerce-luxury-theme-demo.firebaseapp.com",
  projectId: "upmerce-luxury-theme-demo",
  storageBucket: "upmerce-luxury-theme-demo.firebasestorage.app",
  messagingSenderId: "766806441120",
  appId: "1:766806441120:web:31608b631084061d469dc5",
  measurementId: "G-W30G5DVY3F"
};